{% extends "pages/base.html" %}
{% block content %}
<!-- On rows -->
<tr class="table-active">Hello</tr>

<tr class="table-primary">..1</tr>
<tr class="table-secondary">2..</tr>
<tr class="table-success">..3</tr>
<tr class="table-danger">..4</tr>
<tr class="table-warning">..5</tr>
<tr class="table-info">...</tr>
<tr class="table-light">...</tr>
<tr class="table-dark">...</tr>

<!-- On cells (`td` or `th`) -->
<tr>
  <td class="table-active">...</td>
  <td class="table-primary">...</td>
  <td class="table-secondary">...</td>
  <td class="table-success">...</td>
  <td class="table-danger">...</td>
  <td class="table-warning">...</td>
  <td class="table-info">...</td>
  <td class="table-light">...</td>
  <td class="table-dark">...</td>
</tr>
{% endblock %}
